*,a{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    color: black;
    font-weight: 600;
}


.fixed_top{
    position: fixed;
    top: -5px;
   width: 100%;
   z-index: 2;

}









body{
    background-color: rgb(232, 231, 231);
    border-radius: 50%;
}
.first_row_wraper{
    background-color: rgb(255, 255, 255);
}

.img-fluid {
    border-radius: 11%;
    width: 32px;
   
}
.search {
    border-radius: 30px;
    background-color: #efefef;
}
/* .btn {
    border-radius: 30px;
    padding: 4px 45px 4px 45px;
} */










/* second section */

 /* left part */

.wraper{
    border-radius: 10px;
}

.wraper2{
    border-radius: 10px;
}
.post_btn{
    padding: 4px 79px 4px 79px;
    border-radius: 40px;
}

.btn{
    border-radius: 40px;
    padding: 1px 18px 1px 18px;
    margin-top: 4px;
}
/* left part */




/* middle part */

.bg{
    background-color: rgb(0, 120, 233);
    height: 120px;
    width:70px;
    border-radius: 10px;
}

.bg2{
    background-image: url(img/6.jpeg);
    width: 14%;
    background-position: center;
    background-size: cover;
}

.bg3{
    background-image: url(img/7.jpeg);
    width: 14%;
    background-position: center;
    background-size: cover;
}

.bg4{
    background-image: url(img/8.jpeg);
    width: 14%;
    background-position: center right;
    background-size: cover;
}

.bg5{
    background-image: url(img/9.jpeg);
    width: 14%;
    background-position: center right;
    background-size: cover;
}

.bg6{
    background-image: url(img/1.jpeg);
    width: 14%;
    background-position: center right;
    background-size: cover;
}












.circle_img{
    border-radius: 56%;
    margin-left: -10px;
    width: 24px;
    height: 23px;
    padding: 0;
}

.thumbs{
    margin-right: 10px;
   }

   .comments {
    margin-left: 113px;
}
    
   .share{
    margin-left: 123px;
   }








@media (min-width:765px){
  .btn-large2{
    display: none;
  }
 
}

@media (max-width:765px){
    .img-fluid {

        display: flex;
        justify-content: start;
      }
      .search {
       display: none;

    }
    

}


@media (max-width:991px){
    .img,.post{
        display: none;
    }

}

@media (max-width:565px){
   .thumbs{
    margin-left: 23px;
   }

   .comments{
    margin-left: 72px;
   }
    
   .share{
    margin-left: 71px;
   }
}


@media (max-width:492px){
    .thumbs{
     margin-left: 3%;
    }
 
    .comments{
     margin-left: 13%;
    }
     
    .share{
     margin-left:14%;
    }
 }

 @media (max-width:425px){
    .thumbs{
     margin-left: 7px;
    }
 
    .comments{
     margin-left: 20px;
    }
     
    .share{
     margin-left: 30px;
    }
 }


 @media (max-width:378px){
    .thumbs{
     margin-left: 12px;
    }
 
    .comments{
     margin-left: 9px;
    }
     
    .share{
     margin-left: 11px;
    }
 }



 @media (max-width:358px){
    .thumbs{
     margin-left: -2px;
    }
 
    .comments{
     margin-left: -4px;
    }
     
    .share{
     margin-left: 2px;
    }


 }


 @media (max-width:315px){
    .thumbs{
     margin-left: -10px;
    }
 
    .comments{
     margin-left: -7px;
    }
     
    .share{
     margin-left: 2px;
    }
   
 }




 
  @media (max-width:1011px){
  
   .down{
    position: relative;
    top: 38px;
   }
 } 




 .scroll_bar{
    height: 550px;
    overflow: hidden;
    overflow-y: scroll;
 }